#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 32px;
  animation: no-mobile 1s;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}

@keyframes no-mobile {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
