.notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.cog_notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  bottom: 35px;
  right: -5px;
}

.download_notification {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  background-color: tomato;
  left: 200px;
  top: 225px;
}
